@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Contatore</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Clicca qui per incrementare</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
